* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.body {
    width: 100%;
    height: 100vh;
    background-color: #141122;
    background-image: url(https://picsum.photos/640/360);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.body::before {
    content: "";
    background-color: #141122;
    position: absolute;
    opacity: 0.7;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    z-index: 0;
}

.body header {
    position: relative;
    z-index: 10;
    margin: auto;
}

.body nav {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.body nav .clock {
    text-align: right;
}
.body nav .clock p {
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}
.body nav .clock p #month {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body header .title {
    width: 80%;
    margin: 0 auto 1ch auto;
    padding-top: 7rem;
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    font-size: 4.5rem;
    line-height: 2ch;
    font-weight: 200;
    text-shadow: 0px 0px 17px #ffffff;
}

.body header .title span {
    font-size: 1.3rem;
    margin-left: -15ch;
}

.body header .links a img {
    width: 30px;
    height: 30px;
    transition: .3s;
    /* filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg) brightness(94%) contrast(115%); */
}
.body header .links a img:hover {
    width: 30px;
    height: 30px;
    scale: 1.2;
    /* filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg) brightness(94%) contrast(115%); */
}

.body header form {
    text-align: center;
}

.body header form input[type=search] {
    font-size: larger;
    padding: 8px 10px;
    border-radius: 30px;
    width: 45%;
    outline: none;
    border: none;
    transition: .3s;
}
.body header form input[type=search]:focus {
    box-shadow: 0px 0px 5px #ffffff;
    padding: 8px 15px;
    scale: 1.1;
}
.body header form input[type=search]:hover {
    box-shadow: 0px 0px 5px #ffffff;
    padding: 8px 15px;
}
.body header form button[type=submit] {
    font-size: larger;
    padding: 8px;
    border-radius: 30px;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
    transition: .3s;
    rotate: 0deg;
}
.body header form button[type=submit]:hover {
    box-shadow: 0px 0px 5px #ffffff;
    rotate: 360deg;
    scale: 1.1;
}
.body header form button[type=submit] img {
    height: 1.6ch;
}

.quick-links {
    margin: 5% auto;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
    width: 65%;
    grid-gap: 1ch;
    overflow: auto;
    height: 25%;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.quick-links::-webkit-scrollbar {
    width: 5px;
}
.quick-links::-webkit-scrollbar-track {
    background-color: #ffffff5b;
    border-radius: 20px;
    margin: 10px 5px;
}
.quick-links::-webkit-scrollbar-thumb {
    background-color: #ffffffae;
    border-radius: 20px;
}
.quick-links .card {
    height: 50px;
    background-color: #383544c3;
    border-radius: 8px;
    transition: .3s;
    overflow: hidden;
}
.quick-links .card:hover {
    margin-top: -1px;
    box-shadow: 0px 3px 6px #646464;
}
.quick-links .card img {
    height: inherit;
    padding: 8px;
    vertical-align: middle;
}
.quick-links span {
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    .quick-links {
        width: 80%;
        margin: 5% auto;
    }
    .body header form input[type=search] {
        width: 80%;
    }
    .body nav .clock p {
        font-size: 1rem;
    }
}